@font-face {
  font-family: "Young Serif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
}

body {
  font-family: "Outfit";
  /* font-weight: 100; */
  background-color: hsl(30, 54%, 90%);
}

body h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: normal;
}

body p,
li,
td {
  font-size: 16px;
  color: hsl(30, 2%, 44%);
}

main {
  background-color: white;
  margin-top: 7%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 2.5em;
  border-radius: 2em;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 1rem;
}

h2 {
  color: hsl(14, 45%, 36%);
}

img {
  width: 100%;
  border-radius: 1em;
}

li {
  margin-top: 1rem;
  padding-left: 1rem;
}

hr {
  opacity: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Ingredients */

.ingredients li::marker {
  color: hsl(14, 45%, 36%);
}

/* Prep Info */

.highlight {
  color: hsl(24, 5%, 18%);
  font-weight: 800;
}

.prep-time {
  background-color: hsl(330, 100%, 98%);
  padding: 1% 2em;
  border-radius: 1em;
}

.prep-time h3 {
  font-size: 22px;
  font-weight: 600;
  color: hsl(332, 51%, 32%);
}

.prep-time li::marker {
  color: hsl(332, 51%, 32%);
}

/* Instructions */
.instructions li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

/* Nutrition Info Table */

.nutrition-info span {
  display: flex;
}

.nutrition-info p {
  display: inline;
  margin-left: 1em;
  width: 100%;
  font-weight: 700;
}

.nutrition-info hr {
  margin: 0;
}

.nutrition-value {
  color: hsl(14, 45%, 36%);
}
/* Attribution Footer */

.attribution {
  margin-top: 1em;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
